<div class="row">
    <div class="col-12">
        <h1 class="text-center"><span class="black-abogado">TENEMOS LOS MEJORES</span> <span
                class="red-abogado">ABOGADOS LABORALES </span>
        </h1>
        <p>
            Hemos seleccionado los mejores Abogados Laborales del País
            para que orienten, atiendan y presten servicio a nuestros
            usuarios con la mayo confiabilidad y el sello de garantÌa de
            Abogados. <br>
            Ya a continuación te mostraremos algunas de las consultas más populares, respondidas por nuestros Abogados
            Laborales.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./../../../assets/images/penal.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Consultas Penales</h5>
                <p class="card-text">Consultas encargadas de revisar los casos judiciales y/o penales, que presente la persona con
                    el estado y/o gobierno.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./../../../assets/images/familiar.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Consultas Familiares</h5>
                <p class="card-text">Consultas encargadas de revisar los casos familiares, como separacion de bienes,
                    divorcios y demas.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./../../../assets/images/economico.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Consultas Economicas</h5>
                <p class="card-text">Consultas encargadas de revisar los casos economicos, deudas bancarias, hipotecas y demas.</p>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-12">
        <p>
            <a class="btn  btn-primary" routerLink="/consultas" routerLinkActive="active">Gestion de Consultas de  Abogados</a>
        </p>
    </div>
</div>