<div class="card bg-light">
    <div class="card-header"><h2>{{ titulo }}</h2></div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="tp_phone" class="">Nombre Cliente:</label>
                    <input type="text" maxlength="7" minlength="7" class="form-control" id="" name="tp_phone">
                </div>
                <div class="col-sm-6">
                    <label for="tp_phone" class="">Cedula Cliente:</label>
                    <input type="text" maxlength="7" minlength="7" class="form-control" id="" name="tp_phone">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="tp_phone" class="">Celular Cliente:</label>
                    <input type="text" maxlength="7" minlength="7" class="form-control" id="" name="tp_phone" >
                </div>
                <div class="col-sm-4">
                    <label for="tp_phone" class=""> Cliente:</label>
                    <select class="form-control" name="" id="">
                        <option value="1">PENAL</option>
                        <option value="2">FAMILIAR</option>
                        <option value="3">ECONOMICA</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="tp_phone" class="">Fecha Consulta Cliente:</label>
                    <input type="date"  class="form-control" id="" name="tp_phone">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <button class="btn btn-primary form-control" role="button"  (click)='create()'>Crear</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-danger form-control" type="button" [routerLink]="['/consultas']">
                        Volver
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>